.index-div{
    width: 100%;
    height: 100%;
    position: fixed;
}
.header{
    width: 100%;
    /*height: 20%;*/
    min-height: 60px;
    color: #510a0a;
    background-color: #f5f7f8;
}
.left{
    width: 260px;
    height: 100%;
    position:absolute;
}
.logo{
    width: 80px;
    height: 60px;
    line-height: 60px;
    float: left;
    background: url("../images/logo-64x47.png") no-repeat center;
}
.sys-name{
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: left;
    font-size: 26px;
    margin-left: 5px;
}
.user-name{
    height: 60px;
    text-align: center;
    line-height: 58px;
    font-size: 22px;
    float: right;
    margin-right: 10px;
}
.user-name span{
    margin-right: 4px;
}
.nav-btn{
    background: none;
    border: none;
    outline:none;
}
.nav-btn:hover{
    color: #d1d3d4;
}
.nav-top{
    width: 100%;
    height: 40px;
    background-color: #4c1b1b;
    font-size: 24px;
    line-height: 40px;
    color: #f5f7f8;
}
.nav-menu{
    width: 100%;
    height: 100%;
    background-color: #632424;
}
.nav-parent{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}
.nav-parent li{
    width: 100%;
    float: left;
}
.nav-menu-btn{
    width: 100%;
    height: 36px;
    color: #f5f7f8;
    background: none;
    border: none;
    outline:none;
}
.move-btn{
    /*color: #d1d3d4;*/
    font-weight: bold;
}
.nav-icon{
    font-size: 22px;
    float: left;
    padding-left: 15px;
}
.nav-name{
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}
.nav-chevron-right{
    float: right;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
}
.nav-child{
    width: 100%;
    list-style: none;
    padding-left: 30px;
    padding-right: 6px;
    background-color: #4c1b1b;
    float: left;
    display: none;
}
.nav-child li{
    float: left;
    width: 100%;
}
.nav-child-item{
    width: 100%;
    list-style: none;
    padding-left: 48px;
    float: left;
    display: none;
}
.nav-child-item li{
    width: 100%;
    height: 30px;
}
.nav-menu-btn-item{
    background: none;
    border: none;
    outline:none;
    width: 100%;
    height: 100%;
    color: #f5f7f8;
    font-size: 16px;
    text-align: left;
}

.right{
    width: auto;
    height: 100%;
    margin-left: 260px;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0);

    /* IE8+ - must be on one line, unfortunately */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";

    /* IE6 and 7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=1,
            M12=0,
            M21=0,
            M22=1,
            SizingMethod='auto expand');
}