ul{
    margin: 0;
    padding: 0;
}
.parts-tab ul{
    list-style: none;
}

.parts-tab li{
    list-style: none;
    display: inline;
}

/*kendoui更改后的样式*/
.parts-tab {
    background-color: #ffffff;
}
.parts-tab .k-header{
    background-image: none;
    border: none;
    height: 40px;
    font-size: 15px;
}
.parts-tab .k-tabstrip-items{
    padding-left: 20px;
    padding-right: 20px;
}
.parts-tab .k-content{
    width: 98%;
    height: 77%;
    position: fixed;
    margin-left: 10px;
    margin-right:10px;
}
/*.k-tabstrip-items .k-link{*/
/*padding-right: 0;*/
/*}*/

.parts-tab .k-tabstrip-items .k-state-active{
    background: #fff;
}
.parts-tab .k-tabstrip-items .k-state-active span{
    color: #6a8dff;
}
.parts-tab .k-tabstrip-items .k-item{
    background-image: none;
    /* Webkit: Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));
    /* Webkit: Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #ffffff);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #ffffff);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #ffffff);
    /* IE < 10 */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#ffffff);
}

.parts-tab .k-tabstrip-items .k-state-default .k-link{
    color: #2e2e2e;
}