<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cvss.mapper.SearchMapper" >

    <insert id="inertSearch" parameterType="com.cvss.pojo.SearchHistory">
        INSERT INTO search_history (internal_models,create_time,user_id)
        VALUES (#{internalModels},#{createTime},#{userId});
    </insert>

    <delete id="deleteSearch" parameterType="Integer">
        DELETE FROM search_history WHERE search_id = #{id};
    </delete>

    <delete id="batchDeleteSearch" parameterType="Integer">
        DELETE FROM search_history WHERE search_id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="selectAllByUserId" parameterType="Integer" resultType="com.cvss.pojo.SearchHistoryPojo">
        SELECT sh.search_id searchId,sh.internal_models internalModels,
            su.user_id userId,su.user_name userName,sh.create_time createTime
        FROM search_history sh,sys_user su
        WHERE sh.user_id = #{userId}
        and sh.user_id = su.user_id
    </select>

    <select id="selectAll" resultType="com.cvss.pojo.SearchHistoryPojo">
        SELECT sh.search_id searchId,sh.internal_models internalModels,
               su.user_id userId,su.user_name userName,sh.create_time createTime
        FROM search_history sh,sys_user su
        WHERE sh.user_id = su.user_id
    </select>

    <select id="selectHotSearch" resultType="com.cvss.pojo.SearchHistoryPojo">
        SELECT internal_models,count(internal_models) num FROM search_history
        GROUP BY internal_models
        ORDER BY num;
    </select>

    <select id="selectLatelySearch" resultType="com.cvss.pojo.SearchHistoryPojo">
        SELECT sh.search_id searchId,sh.internal_models internalModels,
               su.user_id userId,su.user_name userName,sh.create_time createTime
        FROM search_history sh,sys_user su
        WHERE sh.user_id = su.user_id
        ORDER BY create_time;
    </select>

    <select id="selectLatelySearchByUserId" parameterType="Integer" resultType="com.cvss.pojo.SearchHistoryPojo">
        SELECT sh.search_id searchId,sh.internal_models internalModels,
               su.user_id userId,su.user_name userName,sh.create_time createTime
        FROM search_history sh,sys_user su
        WHERE sh.user_id = su.user_id
        AND sh.user_id = #{userId}
        ORDER BY create_time
    </select>

</mapper>