<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cvss.mapper.SettlementMapper" >
    <insert id="inertSettlement" parameterType="com.cvss.pojo.CvSettlement">
        INSERT INTO cv_settlement (internal_models,parts_json,user_id,total_price,create_time)
        VALUES (#{internalModels},#{partsJson},#{userId},#{totalPrice},#{createTime});
    </insert>

    <delete id="deleteSettlement" parameterType="Integer">
        DELETE FROM cv_settlement WHERE settlement_id = #{id};
    </delete>

    <delete id="batchDeleteSettlement" parameterType="Integer">
        DELETE FROM cv_settlement WHERE settlement_id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="selectAllByUserId" parameterType="Integer" resultType="com.cvss.pojo.CvSettlementUserPojo">
        SELECT cs.settlement_id settlementId,cs.internal_models internalModels,su.user_id "sysUser.userId",
            su.user_name "sysUser.userName",cs.total_price totalPrice,cs.create_time createTime
        FROM cv_settlement cs ,sys_user su
        WHERE cs.user_id = #{userId}
        AND cs.user_id = su.user_id;
    </select>

    <select id="selectAll" resultType="com.cvss.pojo.CvSettlementUserPojo">
        SELECT cs.settlement_id settlementId,cs.internal_models internalModels,su.user_id "sysUser.userId",
               su.user_name "sysUser.userName",cs.total_price totalPrice,cs.create_time createTime
        FROM cv_settlement cs ,sys_user su
        WHERE cs.user_id = su.user_id;
    </select>

    <select id="selectInfo" resultType="com.cvss.pojo.CvSettlementPojo" parameterType="Integer">
        SELECT cs.settlement_id settlementId,su.user_id "sysUser.userId",internal_models "cvPojo.internalModels",
            su.user_name "sysUser.userName",cs.total_price totalPrice,cs.create_time createTime
        FROM cv_settlement cs ,sys_user su
        WHERE cs.user_id = su.user_id
        AND cs.settlement_id = #{settlementId}
    </select>

    <select id="selectLatelySettlement" resultType="com.cvss.pojo.CvSettlementUserPojo">
        SELECT cs.settlement_id settlementId,cs.internal_models internalModels,su.user_id "sysUser.userId",
               su.user_name "sysUser.userName",cs.total_price totalPrice,cs.create_time createTime
        FROM cv_settlement cs ,sys_user su
        WHERE cs.user_id = su.user_id
        ORDER BY cs.create_time;
    </select>

</mapper>