<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cvss.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="SysUser" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="CHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    <result column="dead_time" property="deadTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, user_name, password, user_email, user_tel, role_code, valid_time, dead_time, 
    status
  </sql>

  <insert id="insert" parameterType="SysUser" >
    insert into sys_user (user_name, password,
      user_email, user_tel, role_code, 
      valid_time, dead_time, status
      )
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR}, #{userTel,jdbcType=CHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{validTime,jdbcType=TIMESTAMP}, #{deadTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from sys_user
    where user_id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRecord" parameterType="SysUser" >
    delete from sys_user
    <trim prefix="where" prefixOverrides="and|or">
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userName != null" >
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null" >
        and user_email = #{userEmail,jdbcType=VARCHAR}
      </if>
      <if test="userTel != null" >
        and user_tel = #{userTel,jdbcType=CHAR}
      </if>
      <if test="roleCode != null" >
        and  role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="validTime != null" >
        and vlid_time = #{validTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deadTime != null" >
        and dead_time = #{deadTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </trim>
  </delete>

  <update id="update" parameterType="SysUser" >
    update sys_user
    <trim prefix="set" prefixOverrides=",">
      <if test="userName != null" >
        , user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        , password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null" >
        , user_email = #{userEmail,jdbcType=VARCHAR}
      </if>
      <if test="userTel != null" >
        , user_tel = #{userTel,jdbcType=CHAR}
      </if>
      <if test="roleCode != null" >
        ,  role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="validTime != null" >
        , vlid_time = #{validTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deadTime != null" >
        , dead_time = #{deadTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        , status = #{status,jdbcType=INTEGER}
      </if>
    </trim>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectOne" resultMap="BaseResultMap" parameterType="SysUser" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    <trim prefix="where" prefixOverrides="and|or">
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userName != null" >
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null" >
        and user_email = #{userEmail,jdbcType=VARCHAR}
      </if>
      <if test="userTel != null" >
        and user_tel = #{userTel,jdbcType=CHAR}
      </if>
      <if test="roleCode != null" >
        and  role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="validTime != null" >
        and vlid_time = #{validTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deadTime != null" >
        and dead_time = #{deadTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </trim>
  </select>

  <select id="selectAll" resultType="com.cvss.pojo.SysUserPojo" >
    select
      su.user_id userId, su.user_name userName, su.password "password", su.user_email userEmail,
      su.user_tel userTel, sr.role_code "sysRole.roleCode",sr.role_name "sysRole.roleName",
      su.valid_time validTime, su.dead_time deadTime,su.status "status"
    from sys_user su,sys_role sr
    WHERE su.role_code = sr.role_code;
  </select>

  <select id="selectAllO" resultType="com.cvss.pojo.SysUserPojo" parameterType="SysUser" >
    select
    su.user_id userId, su.user_name userName, su.password "password", su.user_email userEmail,
    su.user_tel userTel, sr.role_code "sysRole.roleCode",sr.role_name "sysRole.roleName",
    su.valid_time validTime, su.dead_time deadTime,su.status "status"
    from sys_user su,sys_role sr
    <trim prefix="where" prefixOverrides="and|or">
      <if test="1==1">
        and su.role_code = sr.role_code
      </if>
      <if test="userId != null" >
        and su.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userName != null" >
        and su.user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and su.password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="userEmail != null" >
        and su.user_email = #{userEmail,jdbcType=VARCHAR}
      </if>
      <if test="userTel != null" >
        and su.user_tel = #{userTel,jdbcType=CHAR}
      </if>
      <if test="roleCode != null" >
        and su.role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="validTime != null" >
        and su.vlid_time = #{validTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deadTime != null" >
        and su.dead_time = #{deadTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        and su.status = #{status,jdbcType=INTEGER}
      </if>
    </trim>
  </select>


  <insert id="batchInsertUser" parameterType="List">
    insert into sys_user (user_name, password,
    user_email, user_tel, role_code,
    valid_time, dead_time, status
    ) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR}, #{userTel,jdbcType=CHAR}, #{roleCode,jdbcType=VARCHAR},
      #{validTime,jdbcType=TIMESTAMP}, #{deadTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
    </foreach>
  </insert>

  <delete id="batchDeleteUser" parameterType="List">
    DELETE FROM sys_user WHERE user_id IN
    <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>

  <update id="batchUpdateUser" parameterType="List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update sys_user
      <trim prefix="set" prefixOverrides=",">
        <if test="userName != null" >
          , user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="password != null" >
          , password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userEmail != null" >
          , user_email = #{userEmail,jdbcType=VARCHAR}
        </if>
        <if test="userTel != null" >
          , user_tel = #{userTel,jdbcType=CHAR}
        </if>
        <if test="roleCode != null" >
          ,  role_code = #{roleCode,jdbcType=VARCHAR}
        </if>
        <if test="validTime != null" >
          , vlid_time = #{validTime,jdbcType=TIMESTAMP}
        </if>
        <if test="deadTime != null" >
          , dead_time = #{deadTime,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null" >
          , status = #{status,jdbcType=INTEGER}
        </if>
      </trim>
      where user_id = #{userId,jdbcType=INTEGER}
    </foreach>
  </update>

</mapper>