<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>驾驶室</title>
    <link href="lib/kendoui/styles/kendo.common.min.css" rel="stylesheet">
    <link href="lib/kendoui/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="lib/kendoui/styles/kendo.default.min.css" rel="stylesheet">
    <script type="text/javascript" src="resources/js/jquery-3.1.1.min.js"></script>
    <script src="lib/kendoui/js/kendo.ui.core.min.js"></script>
    <link rel="stylesheet" href="resources/css/kendoui.css">
    <link rel="stylesheet" href="resources/css/parts.css">
</head>
<body>
<div id="tab-cab" class="parts-tab">
    <ul>
        <li>驾驶室</li>
        <li>可加装</li>
        <li>可换装</li>
    </ul>
    <div id="content-cab"></div>
    <div id="content-cab-add"></div>
    <div id="content-cab-replace"></div>
</div>
</body>
</html>