<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css">-->
    <!--<link href="lib/kendoui/styles/kendo.common.min.css" rel="stylesheet">-->
    <!--<link href="lib/kendoui/styles/kendo.rtl.min.css" rel="stylesheet">-->
    <!--<link href="lib/kendoui/styles/kendo.default.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="resources/css/kendoui.css">
    <!--<script type="text/javascript" src="resources/js/jquery-3.1.1.min.js"></script>-->
    <!--<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="lib/kendoui/js/kendo.ui.core.min.js"></script>-->
    <!--<script src="resources/js/jQueryRotate.js"></script>-->
</head>
<body>
    <br>
    <br><br>
    我是首页
    <br>
    <br>
    <br>

</body>
</html>